	<div  id="page-top">
	    <!--Preload-->
	    <div class="preloader">
	        <div class="preloader_image"></div>
	    </div>

		 <!-- Banner Section -->
			<div id="banner" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active" style="background-image:url(images/BannerArriba/bansupone.jpg);">
						<div class="caption-info">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-8 col-md-offset-2">
										<div class="caption-info-inner text-center">
											<img src="images/logo/logokiu.png" alt="Logo" class="img-rounded" />
											<h1 class="animated fadeInDown">En Construcción</h1>
											<p>Estamos trabajando para mejorar nuestro servicio</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!--end carousel-inner-->
			</div>
	    <!--end Banner-->

	    <footer id="footer" class="navbar-fixed-bottom">
	        <div class="container">
	            <div class="row">
	                <div class="col-xs-12 col-sm-5">
	                    <div class="text-left">
	                        <ul>
	                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-xs-12 col-sm-7">
	                    <div class="text-right">
	                        <p>&copy; Copyright 2017. KiuTravel.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>

	    <!-- Bact to top Section-->
	    <div class="back-top">
	        <a href="#"><i class="fa fa-angle-up"></i></a>
	    </div>
	</div>